mtx/MTX-Framework/resources/mtx_maps/Products/Order.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
          <!-- XML Schema Generated from XML Document on Wed Oct 28 2020 22:51:26 GMT-0500 (Central Daylight Time) -->
          <!-- with XmlGrid.net Free Online Service http://xmlgrid.net -->
      <xs:element name="order">
              <xs:complexType>
                    <xs:sequence>
                            <xs:element name="orderno" type="xs:int"></xs:element>
                            <xs:element name="ordername" type="xs:string"></xs:element>
                            <xs:element name="ponumber" type="xs:int"></xs:element>
                            <xs:element name="customerno" type="xs:int"></xs:element>
                            <xs:element name="address">
                              <xs:complexType>
                                <xs:sequence>
                                  <xs:element name="streetno" type="xs:string"></xs:element>
                                </xs:sequence>
                              </xs:complexType>
                            </xs:element>
                      </xs:sequence>
                  </xs:complexType>
          </xs:element>
  </xs:schema>
