mtx/MTX-Framework/resources/mtx_maps/Products/PurchaseOrder.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Created with Liquid Technologies Online Tools 1.0 (https://www.liquid-technologies.com) -->
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="purchaseOrder">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="memberno" type="xs:int" />
        <xs:element name="ordername" type="xs:string" />
        <xs:element name="ponumber" type="xs:int" />
        <xs:element name="poorderno" type="xs:int" />
        <xs:element name="streetno" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
