mtx/MTX-Framework/resources/xml/output/output.orders.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Created with Liquid Technologies Online Tools 1.0 (https://www.liquid-technologies.com) -->
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="outOrders">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="outOrder">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="memberno" type="xs:string" />
              <xs:element name="ordername" type="xs:string" />
              <xs:element name="ponumber" type="xs:string" />
              <xs:element name="poorderno" type="xs:string" />
              <xs:element name="streetno" type="xs:string" />
                <xs:element name="city" type="xs:string" />
                  <xs:element name="zipcode" type="xs:string" />
                    <xs:element name="totalprice" type="xs:integer" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
